@import url('reset.css');

.app {
  background-color: #1EAFFF;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  margin: 50px auto;
  padding: 20px;
  width: 80%;
}

.voucher-item {
  margin: 10px 0;
}

.voucher-title,
.description-box {
  background-color: #0F577F;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.voucher-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.voucher-title:hover {
  background-color: #188CCC;
  cursor: pointer;
}

.voucher-title-used {
  background-color: #5A5757;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.voucher-title-used:hover {
  cursor: not-allowed;
}

.description-box {
  margin-top: 10px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}